<?php
/*
 * Copyright (C) 2011-2021 OpenSIPS Project
 *
 * This file is part of opensips-cp, a free Web Control Panel Application for 
 * OpenSIPS SIP server.
 *
 * opensips-cp is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * opensips-cp is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 */

/*==================== DEFINITION OF BOXES (servers) ========================*/
// each server is a box

{% for box in opensips_cp_boxes %}
$box_id={{ loop.index0 }};

//  MI connector (via JSON backend):   json:host:port/mi
$boxes[$box_id]['mi']['conn']="json:{{ box.mi_host }}:{{ box.mi_port }}/{{ box.mi_root }}";

// monit host:port
{% if box.monit_host %}
$boxes[$box_id]['monit']['conn']="{{ box.monit_host }}:{{ box.monit_port }}";
$boxes[$box_id]['monit']['user']="{{ box.monit_user | default("admin") }}";
$boxes[$box_id]['monit']['pass']="{{ box.monit_pass | default("admin") }}";
$boxes[$box_id]['monit']['has_ssl']={{ box.monit_has_ssl | default(True) | ternary(1, 0) }};
{% endif %}


// description (appears in mi , monit )
$boxes[$box_id]['desc']="{{ box.description }}";

$boxes[$box_id]['assoc_id']={{ box.assoc_id }};

// enable local smonitor charts on this box : 0=disabled 1=enabled
// (cron)
$boxes[$box_id]['smonitor']['charts']="{{ box.stats | ternary(1, 0) }}";
{% endfor %}

/*======================== DEFINITION OF SYSTEMS ========================*/
// each system is a set of servers with the same
// functionality on the platform (like sets of
// SIP servers, sets of Load-Balancers, sets of
// Presence agents, etc)

{% for system in opensips_cp_systems %}
$_system_id={{ loop.index0 }};
$systems[$_system_id]['name']="{{ system.name }}";
$systems[$_system_id]['desc']="{{ system.description }}";
//boxes with this assoc_id are assigned to this system
$systems[$_system_id]['assoc_id']="{{ system.assoc_id }};
{% endfor %}

?>
